# Default ignored files
.idea
/frontend/node_modules
backend/ShareMySchedule/client_secret.json
backend/ShareMySchedule/token.json

frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

frontend/coverage

frontend/.next/
frontend/out/

frontend/build

frontend/.DS_Store
frontend/*.pem

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.env*.local

frontend/.vercel

frontend/*.tsbuildinfo
frontend/next-env.d.ts

frontend/.env
frontend/.env.local